/* start font */

/* jost-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/jost-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/jost-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/jost-v15-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* end font */

/* start reset css-style*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset css-style*/


/* start basic settings */
html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: "Jost", "Open Sans", sans-serif;
    color: #1B1B1D;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:active, a:focus{
    border-bottom: 1px solid;
    opacity: .75;
}

ul {
    list-style: none;
}

button{
    text-transform: uppercase;
    background: #1B1B1D;
    color: #FFFFFF;
    font-family: 'Jost';
    border: 0;
    cursor: pointer;
}

button:hover{
    background-color: #1b1b1dd0;
}

img{
    max-width: 100%;
    height: auto;
}

p{
    color: #64646A;
}

/* end basic settings */


/* Header styles start*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 5;
}

.header__container{
    display: flex;
    padding-top: 24px;
}

.header__menu-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header__logo{
    width: 126px;
    margin-right: 10px;
}

.header__logo:hover, .header__logo:active, .header__logo:focus{
    border: 0;
}

.header__menu{
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 15px;
    line-height: 21.68px;
}

.menu__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding: 17px 40px 17px 0px;
}


.header__user-actions{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.user-actions__basket-btn>img{
    display: block;
}

.user-actions__basket-btn{
    background: #ffffff;
    border-radius: 50%;
    padding: 16px;
}

.user-actions__basket-btn:hover{
    background-color: #cecece;
}

.user-actions__buy-btn{
    padding: 15px 30px;
    border-radius: 63px;
}


/* Header styles end*/



/* Intro styles start*/
.intro{
    padding-top: 204px;
}

.intro__container{
    position: relative;
}

.intro__title{
    max-width: 597px;
    margin-bottom: 30px;
    font-size: 124px;
    font-weight: 800;
    line-height: 140px;
}

.intro__subtitle{
    max-width: 530px;
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.68px;
}

.intro__user-actions{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 332px;
}

.intro__download-btn{
    padding: 20px 40px 20px 40px;
    border-radius: 97px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.intro__shop-link{
    font-size: 18px;
    font-weight: 500;
    line-height: 26.01px;
    text-transform: uppercase;
    border-bottom: 1px solid;
}

.intro__img{
    position: absolute;
    top: 0;
    left: 560px;
    width: 680.25px;
    height: 712px;
    z-index: -1;
}

/* Intro styles end */


/* Alowishus style start */
.alowishus__header {
    margin-inline: auto;
    width: 702px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

.alowishus__title{
    margin-bottom: 24px;
    font-size: 64px;
    font-weight: 800;
    line-height: 70px;
    text-align: center;
}


.alowishus__subtitle{
    max-width: 604px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.68px;
    text-align: center;
}

.alowishus-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 140px;
}

.alowishus-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.alowishus-card-text{
    max-width: 358px;
    margin-bottom: 60px;
    padding: 40px 0 0 40px;
}

.alowishus-card__title{
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 600;
    line-height: 52.02px; 
}

.alowishus-cars__subtitle{
    font-size: 24px;
    font-weight: 400;
    line-height: 34.68px;
}

.alowishus-card-icon{
    max-width: 150px;
    max-height: 150px;
    padding: 1.46px 0px 1.46px 0px;
    margin-bottom: 60px;
}

.alowishus-card__btn{
    margin-bottom: 40px; 
    padding: 15px 30px 15px 30px;
    border-radius: 126px;   
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;  
}
/* Alowishus style end */

/* order-coffee style start */
.order-coffee-container{
    margin-bottom: 140px;
    display: flex;
    gap: 40px;
}

.order-coffee__pic{
    max-width: 680px;
    max-height: 471.27px;
}

.order-coffee__info{
    max-width: 513px;
    padding: 16px 0;
}

.order-coffee__text{
    margin-bottom: 60px;
}

.order-coffee__title{
    font-size: 64px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 30px;
}

.order-coffee__subtitle{
    font-size: 24px;
    font-weight: 400;
    line-height: 34.68px;
}

.order-coffee-btn{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    padding: 20px 40px 20px 40px;
    border-radius: 126px;
}
/* order-coffee style end */


/* customers style start*/
.customers__header {
    max-width: 454px;
    margin: 0 auto 100px;
}

.customers__title{
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    line-height: 70px;
    margin-bottom: 40px;
}

.customers__overall-rating{
    max-width: 300px;
    margin-inline: auto;
    display: flex;
    gap: 24px;
}

.customers__estimation{
    padding: 10px 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    color: #1B1B1D;
}

.customers__rating-stars-header, .customers__rating-stars-slider{
    max-height: 24px;
    display: flex;
    flex-direction: row;
}

.customers__rating-stars-header{
    margin-bottom: 8px;
}

.customers__rating-stars-slider{
    padding: 3px 0;
}

.rating-stars__subtitle{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

/* Swiper styles start */

.slider-wrapper{
    position: relative;
    padding-inline: 105.54px;
    margin-bottom: 140px;
}


.button-arrow{
    width: 60px;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.button-arrow--prev {
    left: 0;
}
  
.button-arrow--next {
    right: 0;
}

.card-customer{
    max-width: 499.46px;
}

.card-customer__text{
    max-width: 387px;
    margin: 0 auto 42px;
    padding-top: 40px;
    color:#1B1B1D
}

.card-customer__header{
    display: flex;
    max-height: 30px;
    margin-bottom: 32px;
}

.card-customer__title{
    margin-right: 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.card-customer__subtitle{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

/* Swiper styles end*/
/* customers style end*/


/* contact and Store Locations style start */
.contact, .store_locations{
    display: flex;
    flex-direction: row;
}

.contact__subtitle, .store_locations__subtitle{
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

.contact__header, .store_locations__header{
    font-size: 40px;
    font-weight: 800;
    line-height: 50px; 
    margin-bottom: 30px;
 }

 .contact__info, .store_locations__info{
    max-width: 558px;
    margin-right: 268.78px;
}

.contact__list-links, .store_locations__subscribe-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
 }


/* contact style start */
.contact{
    margin-bottom: 89.91px;
}

.contact__logo-img{
    width: 307px;
    height: 122px;
    margin-bottom: 40px;
}

.contact__links{
    max-width: 364px;
    text-align: center;
    padding-top: 20px;
}

.contact__item{
    display: flex;
    flex-wrap: wrap;
}

.contact__social_network-link, .contact__social_network-icon{
    max-width: 60px;
    padding: 16px;
    margin-right: 24px;
}

.contact__social_network-link:hover,
.contact__social_network-link:active,
.contact__social_network-link:focus{
    border-bottom: 0;
}

.contact__item-text{
    padding: 8px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
}

.contact__list_social_network{
    display: flex;
}
/* contact style end */


/* store locations style start */
.store_locations{
    margin-bottom: 80px;
}

.store_locations__header-form{
    margin-bottom: 0;
}

.store_locations__subtitle{
    margin-bottom: 30px;
}

.store_locations__link{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    padding-right: 34px;
    background: url(../img/svg/right_arrow.svg) no-repeat right center;
    background-size: 30px;
}

.store_locations__email-input{
    background-color: transparent;
    width: 413px;
    padding: 20px 0 20px 30px;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    border: none;
    border-radius: 65px;
}

.store_locations__subscribe-btn{
    padding: 20px 40px;
    margin-right: 240px;
    border-radius: 126px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;  
}
/* store locations style end */
/* contact and Store Locations style end */

/* footer style start */ 
.container-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.copyright, .footer__privacy-policy{
    padding-top: 40px;
}

.copyright__subtitle, .footer__privacy-policy{
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

.copyright__owner{
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color:#1B1B1D
}
/* footer style end */ 

@media (max-width: 1024px) {
    /* header style start*/

    /* header style end */
}

@media (max-width: 768px) {
    /* header style start */

    /* header style end */
}

@media (max-width: 480px) {
    /* header style start */

    /* header style end */
}